<section class="container mt-5">
  <table class="table">
    <tbody>
      {{#each cartProducts}}
        <tr>
          {{#each cartProduct}}
            <td><img src="/uploads/{{this.image}}" alt="" width="50px" /></td>
            <td>{{this.name}}</td>
          {{/each}}
          <td><button class="btn btn-outline-secondary">+</button>
            <span>{{this.quantity}}</span>
            <button class="btn btn-outline-secondary">-</button></td>
          <td>{{this.price}}</td>
          <td><a href="" class="btn btn-danger">Remove</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>