<section class="container">
  <h1 class="text-center mt-5">Login</h1>
  <form class="w-25 mx-auto" method="post" action="/login">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p class="text-center mt-5"><a
        class="link-opacity-100"
        href="/signup"
      >Create an account.</a></p>
  </form>
</section>